$unit-xxs: 2px !default;
$unit-xs: 4px !default;
$unit-s: 8px !default;
$unit-m: 16px !default;
$unit-l: 32px !default;
$unit-xl: 64px !default;
$unit-xxl: 128px !default;

$ds-c-component-name--Padding: $unit-s !default;
$ds-c-component-name--Border: 1px solid #000 !default;
$ds-c-component-name--BackgroundColor: #fff !default;
$ds-c-component-name--Color: #000 !default;

$ds-c-component-name__header--Padding: $unit-s !default;
$ds-c-component-name__body--Padding: $unit-s !default;
$ds-c-component-name--Padding: $unit-s !default;


.ds-c-component-name {
  display: block;
  margin: 0;
  padding: $ds-c-component-name--Padding;
  border: $ds-c-component-name--Border;
  background-color: $ds-c-component-name--BackgroundColor;
  color: $ds-c-component-name--Color;
  // *:[class^='ds-c-component-name_'],
  // *:[class^='ds-c-component-name_']:before,
  // *:[class^='ds-c-component-name_']:after {
  //   margin: 0;
  //   padding: 0;
  // }
  //
  &__header {}
  &__body {}
  &__footer {}
  &__items {}
  &__item {}

}
