$lapisLazuli: #1966A0 !default;
$deepSpaceSparkle: #4C5C68 !default;
$outerSpace: #46494C !default;
$lavendarGray: #C5C3C6 !default;
$gainsboro: #DCDCDD !default;
$trueWhite: #ffffff !default;

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: futura-pt,sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.2rem;
  font-weight: 400;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    display: none;
  }
  &__main {
    flex: 1;
  }
  &__footer {}
}

.documentation {
  &__header {}
  &__sidebar {}
  &__content {}
  &__footer {}
}

.comparisons {
  &__header{}
  &__body{}
  &__body > *:not(:last-child) {
    margin-bottom: 1rem;
    padding: 2rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
  }
}

.Comparison {
  &_heading {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .5);
  }
  &__header {
    margin-bottom: 0.5em;
  }
  &__body {}
}

.Toolbar {}

.workspace {
  padding: 1rem;
  display: flex;
  &_page-heading {
    font-size: 2rem;
  }
  &_section-heading {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .5);
  }
  &__toolbar {
    flex: 0 0 33%;
    padding: 1rem;
  }
  &__body {
    padding: 1rem;
  }
}
